<div class="container mt-4">
    <table class="table table-hover align-middle text-center mb-0">
        <thead class="table-primary">
            <tr>
                <th>order</th> <th>Id</th> <th>Name</th> <th>Price</th> <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;let i=index">
                <td>{{i+1}}</td>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.used}}</td>
            </tr>
        </tbody>
    </table>
</div>